<!-- ==================== Breadcrumb Start Here ==================== -->
<div class="breadcrumb">
    <div class="breadcrumb__bg">
        <video class="fit-image" muted loop autoplay src="assets/images/thumbs/banner.mp4"></video>
    </div>
    <div class="container">
        <h2 class="breadcrumb__title">@@breadcrumbText</h2>
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Home</a> </li>
            <li class="breadcrumb__item">/</li>
            <li class="breadcrumb__item"> <span class="breadcrumb__item-text">@@breadcrumbText</span>
            </li>
        </ul>
    </div>
</div>
<!-- ==================== Breadcrumb End Here ==================== -->