<!-- ==================== Header Start Here ==================== -->
<header class="header" id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-xl navbar-light">
      <a class="navbar-brand logo" href="index.html">
        <img src="assets/images/logo/logo-white.png" alt="img" />
      </a>

      <button
        class="navbar-toggler header-button"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
        aria-label="Toggle navigation"
      >
        <span id="hiddenNav"><i class="las la-bars"></i></span>
      </button>

      <div
        class="offcanvas border-0 offcanvas-end"
        tabindex="-1"
        id="offcanvasDarkNavbar"
      >
        <div class="offcanvas-header">
          <a class="logo navbar-brand" href="index.html">
            <img src="assets/images/logo/logo-white.png" alt="img" />
          </a>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav nav-menu align-items-xl-center ms-xl-4 w-100">
            <li class="nav-item d-xl-none">
              <div class="dropdown lang-box">
                <button class="lang-box-btn" data-bs-toggle="dropdown">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    role="img"
                    width="20px"
                    height="20px"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M18.234 2.5A3.266 3.266 0 0121.5 5.766v8.906a3.266 3.266 0 01-3.266 3.265h-1.289c-.34 0-.67.118-.934.332l-3.747 3.033a.892.892 0 01-1.451-.693v-2.375a.297.297 0 00-.297-.297h-4.75A3.266 3.266 0 012.5 14.673V5.766A3.266 3.266 0 015.766 2.5zM5.491 3.938c-.82 0-1.528 1.008-1.528 1.828v8.99c0 .82.665 1.604 1.484 1.604h5.046c1.148 0 1.98.871 1.98 2.019v.81l2.417-2.16c.581-.471 1.284-.669 2.032-.669h1.539c.82 0 1.507-.868 1.507-1.688l.044-9.293c0-.82-.665-1.441-1.485-1.441zM12 6.063a.89.89 0 01.824.553l2.672 6.532a.89.89 0 11-1.648.673l-.891-2.177h-1.914l-.89 2.177a.89.89 0 11-1.65-.673l2.673-6.532A.89.89 0 0112 6.063m-.374 4.156h.748L12 9.306z"
                    ></path>
                  </svg>
                  <span class="text">English</span>
                  <span class="icon">
                    <i class="fas fa-angle-down"></i>
                  </span>
                </button>

                <ul class="dropdown-menu">
                  <li class="lang-box-item" data-code="en">
                    <a href="" class="lang-box-link">
                      <div class="thumb">
                        <img src="assets/images/flags/us.png" alt="usa" />
                      </div>
                      <span class="text">English</span>
                    </a>
                  </li>
                  <li class="lang-box-item selected" data-code="hn">
                    <a href="" class="lang-box-link">
                      <div class="thumb">
                        <img src="assets/images/flags/bd.png" alt="bd" />
                      </div>
                      <span class="text">Bangla</span>
                    </a>
                  </li>
                  <li class="lang-box-item" data-code="es">
                    <a href="" class="lang-box-link">
                      <div class="thumb">
                        <img src="assets/images/flags/sp.png" alt="Spanish" />
                      </div>
                      <span class="text">Spanish</span>
                    </a>
                  </li>
                  <li class="lang-box-item" data-code="es">
                    <a href="" class="lang-box-link">
                      <div class="thumb">
                        <img src="assets/images/flags/sa.png" alt="Spanish" />
                      </div>
                      <span class="text">Arabic</span>
                    </a>
                  </li>
                  <li class="lang-box-item" data-code="es">
                    <a href="" class="lang-box-link">
                      <div class="thumb">
                        <img src="assets/images/flags/pak.png" alt="Spanish" />
                      </div>
                      <span class="text">Urdu</span>
                    </a>
                  </li>
                  <li class="lang-box-item" data-code="es">
                    <a href="" class="lang-box-link">
                      <div class="thumb">
                        <img src="assets/images/flags/fr.png" alt="Spanish" />
                      </div>
                      <span class="text">French</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
              >
                Best Products
                <span class="nav-item__icon">
                  <i class="fas fa-angle-down"></i>
                </span>
              </a>
              <ul class="dropdown-menu header-dropdown">
                <li class="dropdown-menu__list">
                  <a class="dropdown-item dropdown-menu__link" href="">
                    Products
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
              >
                Launches
                <span class="nav-item__icon">
                  <i class="fas fa-angle-down"></i>
                </span>
              </a>
              <ul class="dropdown-menu header-dropdown">
                <li class="dropdown-menu__list">
                  <a class="dropdown-item dropdown-menu__link" href="">Car</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="blog.html"> News </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="forum.html"> Forums </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>

            <li class="nav-item d-xl-none d-block">
              <a href="login.html" class="btn w-100 btn--sm btn--base">
                <span class="icon">
                  <i class="fa-regular fa-circle-user"></i>
                </span>
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="header-right d-none d-xl-flex">
        <div class="dropdown lang-box">
          <button class="lang-box-btn" data-bs-toggle="dropdown">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M18.234 2.5A3.266 3.266 0 0121.5 5.766v8.906a3.266 3.266 0 01-3.266 3.265h-1.289c-.34 0-.67.118-.934.332l-3.747 3.033a.892.892 0 01-1.451-.693v-2.375a.297.297 0 00-.297-.297h-4.75A3.266 3.266 0 012.5 14.673V5.766A3.266 3.266 0 015.766 2.5zM5.491 3.938c-.82 0-1.528 1.008-1.528 1.828v8.99c0 .82.665 1.604 1.484 1.604h5.046c1.148 0 1.98.871 1.98 2.019v.81l2.417-2.16c.581-.471 1.284-.669 2.032-.669h1.539c.82 0 1.507-.868 1.507-1.688l.044-9.293c0-.82-.665-1.441-1.485-1.441zM12 6.063a.89.89 0 01.824.553l2.672 6.532a.89.89 0 11-1.648.673l-.891-2.177h-1.914l-.89 2.177a.89.89 0 11-1.65-.673l2.673-6.532A.89.89 0 0112 6.063m-.374 4.156h.748L12 9.306z"
              ></path>
            </svg>
            <span class="text">English</span>
            <span class="icon">
              <i class="fas fa-angle-down"></i>
            </span>
          </button>
          <ul class="dropdown-menu">
            <li class="lang-box-item" data-code="en">
              <a href="" class="lang-box-link">
                <div class="thumb">
                  <img src="assets/images/flags/us.png" alt="usa" />
                </div>
                <span class="text">English</span>
              </a>
            </li>
            <li class="lang-box-item selected" data-code="hn">
              <a href="" class="lang-box-link">
                <div class="thumb">
                  <img src="assets/images/flags/bd.png" alt="bd" />
                </div>
                <span class="text">Bangla</span>
              </a>
            </li>
            <li class="lang-box-item" data-code="es">
              <a href="" class="lang-box-link">
                <div class="thumb">
                  <img src="assets/images/flags/sp.png" alt="Spanish" />
                </div>
                <span class="text">Spanish</span>
              </a>
            </li>
            <li class="lang-box-item" data-code="es">
              <a href="" class="lang-box-link">
                <div class="thumb">
                  <img src="assets/images/flags/sa.png" alt="Spanish" />
                </div>
                <span class="text">Arabic</span>
              </a>
            </li>
            <li class="lang-box-item" data-code="es">
              <a href="" class="lang-box-link">
                <div class="thumb">
                  <img src="assets/images/flags/pak.png" alt="Spanish" />
                </div>
                <span class="text">Urdu</span>
              </a>
            </li>
            <li class="lang-box-item" data-code="es">
              <a href="" class="lang-box-link">
                <div class="thumb">
                  <img src="assets/images/flags/fr.png" alt="Spanish" />
                </div>
                <span class="text">French</span>
              </a>
            </li>
          </ul>
        </div>
        <a href="login.html" class="btn btn--base pill">
          <span class="icon">
            <i class="fa-regular fa-circle-user"></i>
          </span>
          Login
        </a>
        <a href="login.html" class="btn btn--light pill">
          <span class="icon">
            <i class="fa-regular fa-envelope"></i>
          </span>
          Subscribe
        </a>
      </div>
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
