<!-- Jquery js -->
<script src="assets/js/jquery-3.7.1.min.js"></script>
<!-- Bootstrap Bundle Js -->
<script src="assets/js/boostrap.bundle.min.js"></script>
<!-- Slick js -->
<script src="assets/js/slick.min.js"></script>
<!-- Odometer js -->
<script src="assets/js/odometer.min.js"></script>
<!-- Viewport js -->
<script src="assets/js/viewport.jquery.js"></script>
<!-- select2 -->
<script src="assets/js/select2.min.js"></script>
<!-- range slider -->
<script src="assets/js/jquery-ui.min.js"></script>
<!-- wow -->
<script src="assets/js/wow.min.js"></script>
<!-- popup -->
<script src="assets/js/popup.js"></script>
<!-- Quill -->
<script src="assets/js/quill.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>
</body>

</html>