<div class="dropdown user-dropdown">
    <button class="user-dropdown-btn" data-bs-toggle="dropdown">
        <span class="user-dropdown-thumb">
            <img class="fit-image" src="assets/images/clients/1.webp" alt="img">
        </span>
        <span class="user-dropdown-arrow">
            <i class="fa-solid fa-angle-down"></i>
        </span>
    </button>
    <ul class="dropdown-menu">
        <li class="user-dropdown-item">
            <a href="" class="user-dropdown-link">
                <span class="icon">
                    <i class="fa-regular fa-user"></i>
                </span>
                <span class="text">Profile</span>
            </a>
        </li>
        <li class="user-dropdown-item">
            <a href="" class="user-dropdown-link">
                <span class="icon">
                    <i class="fa-solid fa-ticket"></i>
                </span>
                <span class="text">Support Ticket</span>
            </a>
        </li>
        <li class="user-dropdown-item">
            <a href="" class="user-dropdown-link">
                <span class="icon">
                    <i class="fa-solid fa-gear"></i>
                </span>
                <span class="text">Settigns</span>
            </a>
        </li>
        <li class="user-dropdown-item">
            <a href="" class="user-dropdown-link">
                <span class="icon">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </span>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</div>